<p style="text-align:center"> 
    <i class="zoom fas fa-bug fa-lg animate__animated animate__fadeInUp animate__delay-1s" id="btn" onclick="showElement('research');"></i>
    <i class="zoom fas fa-award fa-lg animate__animated animate__fadeInUp animate__delay-2s" id="btn" onclick="showElement('awards');"></i>
    <i class="zoom fas fa-user-graduate fa-lg animate__animated animate__fadeInUp animate__delay-3s" id="btn" onclick="showElement('education');"></i>
    <i class="zoom fas fa-comments fa-lg animate__animated animate__fadeInUp animate__delay-4s" id="btn" onclick="showElement('contact');"></i>
    <i class="zoom fab fa-galactic-republic fa-lg animate__animated animate__fadeInUp animate__delay-5s" id="btn" onclick="showElement('socials');"></i>
    <br>
    <i><small class="animate__animated animate__fadeInUp animate__delay-5s">click to explore</small></i>
</p>