<p  style="text-align:center"> 
    <span class="highlight animate__animated animate__fadeInUp animate__delay-1s" id="btn" onclick="showElement('bugs');">vulnerabilities</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-2s" id="btn" onclick="showElement('awards');">awards</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-3s" id="btn" onclick="showElement('education');">education</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-4s" id="btn" onclick="showElement('contact');">contact</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-5s" id="btn" onclick="showElement('socials');">social</span>
    <br>
    <i><small class="animate__animated animate__fadeInUp animate__delay-5s">click to explore</small></p>
</p>