<p  class="muted" style="text-align:center;opacity: 0.5;"> 
    <span class="highlight animate__animated animate__fadeInUp animate__delay-1s" id="btn" onclick="showElement('about');">about</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-2s" id="btn" onclick="showElement('resume');">resume</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-3s" id="btn" onclick="showElement('bugs');">research</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-4s" id="btn" onclick="showElement('blog');">blog</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-5s" id="btn" onclick="showElement('contact');">contact</span>
    <br>
    <i>
        <small class="highlight animate__animated animate__fadeInUp animate__delay-5s" onclick="darkMode();">dark mode</small>
    </p>
</p>