<p  class="muted" style="text-align:center"> 
    <span class="highlight animate__animated animate__fadeInUp animate__delay-1s" id="btn" onclick="showElement('bugs');document.getElementById('help').innerHTML='click title to read more |';">research</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-2s" id="btn" onclick="showElement('awards');document.getElementById('help').innerHTML='where my work has been recognized |';">recognition</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-3s" id="btn" onclick="showElement('education');document.getElementById('help').innerHTML='my background and qualifications |';">education</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-4s" id="btn" onclick="showElement('contact');document.getElementById('help').innerHTML='contact me |';">contact</span>
    <span class="highlight animate__animated animate__fadeInUp animate__delay-5s" id="btn" onclick="showElement('socials');document.getElementById('help').innerHTML='follow on social media |';">social</span>
    <br>
    <i>
        <small id="help" class="animate__animated animate__fadeInUp animate__delay-5s">click to explore |</small>
        <small class="highlight animate__animated animate__fadeInUp animate__delay-5s" onclick="darkMode();"> dark mode</small>
    </p>
</p>