/* body {
    background-color: #EDEDED;
    color: #444444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EEEBDD;
    color: #1B1717;
}

.dark {
    background-color: black;
    color: white;
}


tr {
    border-bottom: 1px solid black;
}

td {
    border-bottom: 1px solid black;
}

.muted {
    opacity: 0.7;
}

a {
    color: inherit;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    /* body {
        background-color: red;
    } */

    .center {
        margin: auto;
        width: 100%;
        text-align:center;
        padding: 5px;
    }
    
    
    .home {
        margin-top: 5%;
        width: 90%;
    }
    
}

@media only screen 
and (min-device-width : 768px) {
    /* body {
        background-color: red;
    } */

    .center {
        margin: auto;
        width: 80%;
        text-align:center
    }
    
    
    .home {
        margin-top: 5%;
    }
    
}



.highlight {
    transition: transform .7s ease-in-out;
}


.highlight-nz:hover {
    color: #DA0037;
}

.highlight:hover {
    color: #DA0037;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fas{
    transition: transform .7s ease-in-out;
}

.fas:hover {
    color: #DA0037;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.fab {
    transition: transform .7s ease-in-out;
}

.fab:hover {
    color: #DA0037;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



#btn:active {
    color:red;
}

.btn:hover {
    color:#DA0037;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}