/* body {
    background-color: #EDEDED;
    color: #444444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #EEEBDD; */
    color: #1B1717;
}

img {
    width: 100%;
}

.profile:hover  {
    opacity: .6;
  }

.dark {
    background-color: black;
    color: white;
}


tr {
    border-bottom: 1px solid black;
}

td {
    border-bottom: 1px solid black;
}

.muted {
    opacity: 0.7;
}

a {
    color: inherit;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    /* body {
        background-color: red;
    } */

    .center {
        margin: auto;
        width: 100%;
        text-align:center;
        padding: 5px;
    }

    .check {
        display: none;
    }

    .check-border{
        border: none;
    }
    
    
    .home {
        margin-top: 5%;
        width: 90%;
    }

    .post {
        width: 90%;
        margin: auto;
        padding-left: 5px;
        margin-left: 5px;

    }
    
}

@media only screen 
and (min-device-width : 768px) {
    /* body {
        background-color: red;
    } */

    .center {
        margin: auto;
        width: 80%;
        text-align:center
    }

    .check {
        display: block;
    }

    .check-border {
        border-bottom: 3px dotted black;
    }
    
    
    .home {
        margin-top: 5%;
    }

    .post {
        width: 60%;
        margin: auto;
    }
    
}



.highlight {
    transition: transform .7s ease-in-out;
}


.highlight-nz:hover {
    color: #DA0037;
}

.highlight:hover {
    color: #DA0037;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fas{
    transition: transform .7s ease-in-out;
}

.far:hover {
    color: #DA0037;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fas:hover {
    color: #DA0037;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fab {
    transition: transform .7s ease-in-out;
}

.fab:hover {
    color: #DA0037;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.floatLeft { 
    width: 25%; 
    float: left; 
    padding-right: 10px;
}

.container { overflow: hidden; }



#btn:active {
    color:red;
}

.btn:hover {
    color:#DA0037;
    font-size: 16px;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.container__image {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 20px 30px 0 0;
}
.container__text {
    display: inline-block;
    width: 46%;
    @media (max-width: 620px) {
        width: 100%;
    }
}


.avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: .5px #334257 solid;
  }

.avatar:hover {
    transform: scale(2.5);
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");


.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
.img2 {
  left: -46px;
  top: 174px;
  width: 444px;
}
.img3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}



.timeline {
    position: relative;
    border-color: rgba(160, 175, 185, .15);
    padding: 0;
  }
  
  .p-4 {
    padding: 1.5rem !important
  }
  
  .tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex
  }
  
  .tl-item>* {
    padding: 10px
  }
  
  .tl-item .avatar {
    z-index: 2
  }
  
  .tl-item:last-child .tl-dot:after {
    display: none
  }
  
  .tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
  }
  
  .tl-item:last-child .tl-dot:after {
    display: none
  }
  
  .tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
  }
  
  .tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
  }
  


  .w-32 {
    width: 32px !important;
    height: 32px !important;
    font-size: .85em
  }
  
  .tl-item .avatar {
    z-index: 2
  }
  
  .circle {
    border-radius: 500px
  }
  
  .gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
  }



  #myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }