---
layout: default
---
<div class="home">
    <div class="center">
        <p class="animate__animated animate__fadeInUp">
            <b>Tyler C Butler</b>
            <br>
            <i>Independent Security Researcher</i>
            {% include words.html %}
        </p>
        <br>
        <div id="home">
            <div style="display:none;" id="socials" class="center">
                <a class="animate__animated animate__fadeInUp animate__delay-1s" href="https://twitter.com/tbutler0x90"><i class="fab fa-twitter"></i></a>
                <a class="animate__animated animate__fadeInUp animate__delay-2s" href="https://github.com/tcbutler320"><i class="fab fa-github"></i></a>
                <a class="animate__animated animate__fadeInUp animate__delay-3s" href="https://www.linkedin.com/in/tyler-b-a700a1aa/"><i class="fab fa-linkedin"></i></a>
            </div>
            <!-- start resume section -->
            <div style="display:none;" id="resume"  class="center animate__animated animate__fadeIn animate__delay-1s">
                <!-- Work History --> 
                <b>Work History</b>
                <br>
                <div style="text-align: left;">
                    <div style="border-bottom: 3px dotted black;">
                        <a>Deloitte, Government and Public Service</a>
                        <span style="float: right;">August 2019 -->  May 2021</span>
                    </div>
                    <p>Penetration Tester</p>
                    <ul>
                        <li>Penetration Tester in Deloitte's Adversary Simulation market offering </li>
                        <li>Operated Command and Control (C2) Infrastructure with Cobalt Strike and Covenant</li>
                        <li>Managed phishing campaigns with GoPhish</li>
                        <li>Conducted wireless network security audits</li>
                    </ul>
                    <p>Mainframe Application Developer</p>
                    <ul>
                        <li>Converted legacy IBM Mainframe Applications written in Cobol and Assembly into Java </li>
                        <li>Involved in all aspects of DevOps lifecycle including operations, development, integration, testing, monitoring, and deployment</li>
                        <li>Proficient with Java, Cobol, JCL, DB2, Batch Processing, and ISPF</li>
                        <li>Lead training sessions for legacy developers on developing, deploying, testing, and troubleshooting converted batch programs</li>
                    </ul>
                </div>
                <div style="text-align: left;">
                    <div style="border-bottom: 3px dotted black;">
                        <a>HackerOne</a>
                        <span style="float: right;">April 2020 --> Present</span>
                    </div>
                    <p>Freelance Security Researcher</p>
                    <ul>
                        <li>Conducted freelance information security research on client web applications </li>
                        <li>Disclosed a triaged high-severity vulnerability on Block</li>
                    </ul>
                </div>
                <br>
                <b>Disclosed Vulnerabilities</b>
                <br>
                <div style="text-align: left;">
                    <ul>
                        {% for vuln in site.data.vulns %}
                        <li>{{vuln.Title}}</li>
                        {% endfor %}
                    </ul>
                </div>
                 <!-- start awards section -->
                 <b>Awards and Recognition</b>
                 <div style="text-align: left;">
                    <div style="border-bottom: 3px dotted black;">
                        <a><a  href="https://www.motorolasolutions.com/en_us/about/security-vulnerability/hall-of-fame.html"> MotorolaSolution Bug Bounty Hall of Fame</a></a>
                        <span style="float: right;">June 2021</span>
                    </div>
                    <ul>
                        <li> The Security Hall of Fame is where MotorolaSolutions publicly recognize the efforts of security researchers to contribute to the security of Motorola Solutions services and domains. This vulnearbility I submitted for this program has not been pubically announced yet, however it will recieve a CVE ID.</li>
                    </ul>
                </div>
                <b>Education</b>
                <br>
                <div style="text-align: left;">
                    <div style="border-bottom: 3px dotted black;">
                        <a>The Pennsylvania State University</a>
                        <span style="float: right;">Graduated 2018</span>
                    </div>
                    <ul>
                        <li>Bachelors of Science: Security and Risk Analysis </li>
                        <li>Bachelors of Arts: Criminology</li>
                    </ul>
                </div>
                <br>
                <div class="center">
                    <b>Certifications</b>
                </div>
                <br>
                <div style="text-align: left;">
                    <div style="border-bottom: 3px dotted black;">
                        <a>eLearnSecurity Web Application Penetration Tester (eWPT)</a>
                        <span style="float: right;">March 2021</span>
                    </div>
                    <br>
                    <div style="border-bottom: 3px dotted black;">
                        <a>eLearnSecurity Junior Penetration Tester (eJPT) </a>
                        <span style="float: right;">January 2020</span>
                    </div>
                </div>
            </div>
            <!-- end resume section -->

            <!-- start bugs section -->
            <div style="display:none;" id="bugs">
                <!-- <p class="animate__animated animate__fadeInUp">Discovered Vulnerabilities</p> -->
                <div style="text-align: left;" class="animate__animated animate__fadeInUp animate__delay-1s">
                    {% for vuln in site.data.vulns %}
                        <div style="border-bottom: 3px dotted black;" onclick="goToPost('{{vuln.id}}');">
                            <a class="highlight-nz">{{vuln.Title}}</a>
                            <span style="float: right;">{{vuln.Date}}</span>
                        </div>
                        <br>
                        <!-- start post section -->
                        <div id="post" style="padding-left: 20px;">
                            <span style="display: none;text-align: left;" id="{{vuln.id}}">
                                <small>
                                    {% if vuln.Report %}
                                    <a class="muted highlight" href="{{vuln.Report}}"><i class="far fa-file-pdf"></i>  PDF Report</a> |
                                    {% endif %}
                                    {% if vuln.Communication %}
                                    <a class="muted highlight" href="{{vuln.Communication}}"><i class="fas fa-link"></i>  Communication</a> |
                                    {% endif %}
                                    {% if vuln.vendor-advisory %}
                                    <a class="muted highlight" href="{{vuln.vendor-advisory}}"><i class="fas fa-link"></i>  Vendor Advisory </a> |
                                    {% endif %}
                                    {% if vuln.CVE-AD %}
                                    <a class="muted highlight" href="{{vuln.CVE-AD}}"><i class="fas fa-shield-alt"></i>    CVE Details</a>
                                    {% endif %}
                                </small>
                                <p><b>Overview:</b> {{vuln.overview}}</p>
                                <p><b>Details:</b> {{ vuln.advisory }}</p>
                                <canvas id="myChart" height="50"></canvas>
                                <script>
                                    var ctx = document.getElementById('myChart');
                                    var myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                            datasets: [{
                                                label: '# of Votes',
                                                data: [12, 19, 3, 5, 2, 3],
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 0.2)',
                                                    'rgba(54, 162, 235, 0.2)',
                                                    'rgba(255, 206, 86, 0.2)',
                                                    'rgba(75, 192, 192, 0.2)',
                                                    'rgba(153, 102, 255, 0.2)',
                                                    'rgba(255, 159, 64, 0.2)'
                                                ],
                                                borderColor: [
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(75, 192, 192, 1)',
                                                    'rgba(153, 102, 255, 1)',
                                                    'rgba(255, 159, 64, 1)'
                                                ],
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                    </script>

                            </span>
                        </div>
                        <!-- end post section -->
                    {% endfor %}
                </div>
            </div>
            <!-- end bugs section -->

            <!-- start blog section -->
            <div style="display:none;" id="blog">
            <!-- <p class="animate__animated animate__fadeInUp">Discovered Vulnerabilities</p> -->
                <div style="text-align: left;" class="animate__animated animate__fadeInUp animate__delay-1s">
                    {% for post in site.posts %}
                        <div style="border-bottom: 3px dotted black;" onclick="goToPost('{{vuln.id}}');">
                            <a class="highlight-nz">{{post.title}}</a>
                            <span style="float: right;">{{post.date}}</span>
                        </div>
                        <br>
                        <!-- start post section -->
                        <div id="blog-post">
                            <span style="display: none;text-align: left;" id="{{post.id}}">
                                <p>{{ post.content  | markdownify }}</p>
                            </span>
                        </div>
                        <!-- end post section -->
                    {% endfor %}
                </div>
             </div>
        <!-- end blog section -->

            <!-- start about section -->
            <div style="display:none;" id="about" class="center">
                <div style="text-align: left;">
                    <a class="animate__animated animate__fadeIn animate__delay-1s" >{{site.about}}</a>
                </div>
                <br>
                <br>
                <div class="animate__animated animate__fadeIn animate__delay-2s">
                    <a href="https://twitter.com/tbutler0x90"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/tyler-b-a700a1aa/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/tcbutler320"><i class="fab fa-github"></i></a>
                    <a href="mailto:developer.tbutler@gmail.com"><i class="fab fa-email"></i></a>
                </div>  
                <br>
                <br>
                <div class="animate__animated animate__fadeIn animate__delay-3s" >
                    <!-- <small>Interested in this Jekyll theme? I open sourced it, check it out <a href="https://github.com/tcbutler320/simple.dev.tbutler.org">here</a></small>  -->
                </div>
            </div>
            <!-- end about section -->

            <!-- start contact section -->
            <div style="display:none;" id="contact" class="center">
                <!-- <p class="animate__animated animate__fadeInUp">contact me</p> -->
                <form name="contact" method="POST" data-netlify="true" class="animate__animated animate__fadeInUp animate__delay-1s">
                    <p>
                    <label>name:  <input type="text" name="name" placeholder="foo"/></label>   
                    </p>
                    <p>
                    <label>email:  <input type="email" name="email" placeholder="foo@bar.com"/></label>
                    </p>
                    <p>
                    <label>message:  <textarea name="message" placeholder="foobar"></textarea></label>
                    </p>
                    <p>
                    <button type="submit">Send</button>
                    </p>
                </form>
            </div>
            <!-- end contact section -->

            </div>

    </div>    
</div>
    
{{ content }}

<script>
    function showElement(foo) {
        var x = document.getElementById(foo);
        var y = document.getElementById(foo+'-btn');

        var about = document.getElementById('about');
        var abouty = document.getElementById('about-btn');

        var resume = document.getElementById('resume');
        var resumey = document.getElementById('resume-btn');

        var bugs = document.getElementById('bugs');
        var bugsy = document.getElementById('bugs-btn');

        var blog = document.getElementById('blog');
        var blogy = document.getElementById('blog-btn');

        var contact = document.getElementById('contact');
        var contacty = document.getElementById('contact-btn');


        about.style.display = "none";
        resume.style.display = "none";
        bugs.style.display = "none";
        blog.style.display = "none";
        contact.style.display = "none";

        if (x.style.display === "none") {
            x.style.display = "block";
            location.href = "/#" + foo;


            abouty.style.color = "inherit";
            resumey.style.color = "inherit";
            bugsy.style.color = "inherit";
            // blogy.style.color = "inherit";
            contacty.style.color = "inherit";

            y.style.color = "#DA0037";
        } else {
            x.style.display = "none";
            abouty.style.color = "inherit";
            resumey.style.color = "inherit";
            bugsy.style.color = "inherit";
            // blogy.style.color = "inherit";
            contacty.style.color = "inherit";

            y.style.color = "inherit";
        }
    }
</script>

<script>
    function goToPost(foo){
        var x = document.getElementById(foo);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>


<script>
    function darkMode() {
        document.body.classList.toggle('dark');
    }
</script>
