---
layout: default
---
<div class="home">
    <div class="center">
        <p>
            <img src="/assets/img/me.png" alt="Avatar" class="avatar">
            <br>
            <b>Tyler C Butler</b>
            <br>
            <i style="text-align: center;">Independent Security Researcher</i>
            <br>
            {% include words.html %}
            <small>           
                 <!-- <div class="test" data-netlify-identity-menu></div> -->
            </small>
            <div style="display:block;" id="feature">
                <b>Most Recent Vulnerability Disclosure</b>
                <br>
                <br>
                <!-- <p class="animate__animated animate__fadeInUp">Discovered Vulnerabilities</p> -->
                <div style="text-align: left;">
                    {% for vuln in site.data.vulns %}
                    {% if vuln.featured %}
                        <div class="check-border">
                            <a class="highlight-nz">{{vuln.Title}}</a>
                            <span class="check" style="float: right;">{{vuln.Date | date: "%B, %Y" }}</span>
                        </div>
                        <br>
                        <!-- start post section -->
                        <div id="post" style="padding-left: 40px;">
                                <span style="display: block;text-align: left;">
                                    <div >
                                    <small>
                                        {% if vuln.blog %}
                                        <a class="muted highlight" style="text-decoration:none;" href="{{vuln.blog}}"> <i class="far fa-newspaper"></i> Blog</a> 
                                        {% endif %}
                                        {% if vuln.Report %}
                                        <a class="muted highlight" style="text-decoration:none;" href="{{vuln.Report}}"><i class="far fa-file-pdf"></i> Report</a> 
                                        {% endif %}
                                        {% if vuln.Communication %}
                                        <a class="muted highlight"style="text-decoration:none;"  href="{{vuln.Communication}}"><i class="fas fa-link"></i>  Communication</a> 
                                        {% endif %}
                                        {% if vuln.vendor-advisory %}
                                        <a class="muted highlight" style="text-decoration:none;" href="{{vuln.vendor-advisory}}"><i class="fas fa-link"></i>  Advisory </a> 
                                        {% endif %}
                                        {% if vuln.CVE-AD %}
                                        <a class="muted highlight"  style="text-decoration:none;" href="{{vuln.CVE-AD}}"><i class="fas fa-shield-alt"></i>  CVE </a> 
                                        {% endif %}
                                        {% if vuln.exploit-db %}
                                        <a class="muted highlight"  style="text-decoration:none;" href="{{vuln.exploit-db}}"><i class="fas fa-spider"></i>  Exploit-DB </a>
                                        {% endif %}
                                    </small>
                                    <p><b>Overview:</b> {{vuln.overview}}</p>
                                    <p><b>Details:</b> {{ vuln.advisory }}</p>
                                    {% if vuln.cve%}
                                    <small class="muted">{{vuln.cve}}</small>
                                    <br>
                                    <br>
                                    {% endif %}
                                </span>
                             </div>
                        </div>
                        <!-- end post section -->
                        {% endif %}
                    {% endfor %}
                    <small><span class="btn highlight" id="research-btn" onclick="showElement('research');"><i class="fas fa-external-link-alt"></i> all research advisories</span>
                    </small>
                </div>
            </div>
        </p>
        <div id="home">
            <div style="display:none;" id="socials" class="center">
                <a  href="https://twitter.com/tbutler0x90"><i class="fab fa-twitter"></i></a>
                <a  href="https://github.com/tcbutler320"><i class="fab fa-github"></i></a>
                <a  href="https://www.linkedin.com/in/tyler-b-a700a1aa/"><i class="fab fa-linkedin"></i></a>
            </div>
            <!-- start resume section -->
            <div style="display:none;" id="resume" >
                <!-- Work History --> 
                <b>Work History</b>
                <br>
                <div style="text-align: left;">
                    <div class="check-border">
                        <a>Deloitte, Government and Public Service</a>
                        <span style="float: right;">August 2019 -->  Present</span>
                    </div>
                    <p>Penetration Tester</p>
                    <ul>
                        <li>Penetration Tester in Deloitte's Adversary Simulation market offering </li>
                        <li>Operated Command and Control (C2) Infrastructure with Cobalt Strike and Covenant</li>
                        <li>Managed phishing campaigns with GoPhish</li>
                        <li>Conducted wireless network security audits</li>
                    </ul>
                    <p>Mainframe Application Developer</p>
                    <ul>
                        <li>Converted legacy IBM Mainframe Applications written in Cobol and Assembly into Java </li>
                        <li>Involved in all aspects of DevOps lifecycle including operations, development, integration, testing, monitoring, and deployment</li>
                        <li>Proficient with Java, Cobol, JCL, DB2, Batch Processing, and ISPF</li>
                        <li>Lead training sessions for legacy developers on developing, deploying, testing, and troubleshooting converted batch programs</li>
                    </ul>
                </div>
                <div style="text-align: left;">
                    <div class="check-border">
                        <a>HackerOne</a>
                        <span style="float: right;">April 2020 --> Present</span>
                    </div>
                    <p>Freelance Security Researcher</p>
                    <ul>
                        <li>Conducted freelance information security research on client web applications </li>
                        <li>Disclosed a triaged high-severity vulnerability on Block</li>
                    </ul>
                </div>
                <br>
                <b>Disclosed Vulnerabilities</b>
                <br>
                <div style="text-align: left;">
                    <ul>
                        {% for vuln in site.data.vulns %}
                        <li>{{vuln.Title}}</li>
                        {% endfor %}
                    </ul>
                </div>
                 <!-- start awards section -->
                 <b>Awards and Recognition</b>
                 <div style="text-align: left;">
                    <div class="check-border">
                        <a><a  href="https://www.motorolasolutions.com/en_us/about/security-vulnerability/hall-of-fame.html"> MotorolaSolution Bug Bounty Hall of Fame</a></a>
                        <span style="float: right;">June 2021</span>
                    </div>
                    <ul>
                        <li> The Security Hall of Fame is where MotorolaSolutions publicly recognize the efforts of security researchers to contribute to the security of Motorola Solutions services and domains. This vulnearbility I submitted for this program has not been pubically announced yet, however it will recieve a CVE ID.</li>
                    </ul>
                </div>
                <b>Education</b>
                <br>
                <div style="text-align: left;">
                    <div class="check-border">
                        <a>The Pennsylvania State University</a>
                        <span style="float: right;">Graduated 2018</span>
                    </div>
                    <ul>
                        <li>Bachelors of Science: Security and Risk Analysis </li>
                        <li>Bachelors of Arts: Criminology</li>
                    </ul>
                </div>
                <br>
                <div class="center">
                    <b>Certifications</b>
                </div>
                <br>
                <div style="text-align: left;">
                    <div class="check-border">
                        <a>eLearnSecurity Web Application Penetration Tester (eWPT)</a>
                        <span style="float: right;">March 2021</span>
                    </div>
                    <br>
                    <div class="check-border">
                        <a>eLearnSecurity Junior Penetration Tester (eJPT) </a>
                        <span style="float: right;">January 2020</span>
                    </div>
                </div>
            </div>
            <!-- end resume section -->

            <!-- start research section -->
            <div style="display:none;" id="research">
                <!-- <p class="animate__animated animate__fadeInUp">Discovered Vulnerabilities</p> -->
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Vulnerability">
                <br>
                <br>
                    <ul id="myUL">
                        <div style="text-align: left;">
                            {% for vuln in site.data.vulns %}
                                    <li>
                                        <div class="highlight-nz check-border"  onclick="goToPost('{{vuln.id}}');">
                                            <a>{{vuln.Title}}</a>
                                            <span class="check" style="float: right;">{{vuln.Date | date: "%B, %Y"}}</span>
                                        </div>
                                    </li>
                                <br>
                                <!-- start post section -->
                                <div id="post" style="padding-left: 40px;">
                                    <span style="display: none;text-align: left;" id="{{vuln.id}}">
                                        <small>
                                            {% if vuln.blog %}
                                            <a class="zoom muted highlight" style="text-decoration:none;" href="{{vuln.Report}}"><i class="fas fa-book"></i> Blog</a> 
                                            {% endif %}
                                            {% if vuln.Report %}
                                            <a class="muted highlight" style="text-decoration:none;" href="{{vuln.Report}}"><i class="far fa-file-pdf"></i>  Report</a> 
                                            {% endif %}
                                            {% if vuln.Communication %}
                                            <a class="muted highlight"style="text-decoration:none;"  href="{{vuln.Communication}}"><i class="fas fa-link"></i>  Communication</a> 
                                            {% endif %}
                                            {% if vuln.vendor-advisory %}
                                            <a class="muted highlight" style="text-decoration:none;" href="{{vuln.vendor-advisory}}"><i class="fas fa-link"></i>  Advisory </a> 
                                            {% endif %}
                                            {% if vuln.CVE-AD %}
                                            <a class="muted highlight"  style="text-decoration:none;" href="{{vuln.CVE-AD}}"><i class="fas fa-shield-alt"></i>  CVE </a> 
                                            {% endif %}
                                            {% if vuln.exploit-db %}
                                            <a class="muted highlight"  style="text-decoration:none;" href="{{vuln.exploit-db}}"><i class="fas fa-spider"></i>  Exploit-DB </a>
                                            {% endif %}
                                        </small>
                                        {% if vuln.cve%}
                                        <br>
                                        <small class="muted">CVE: {{vuln.cve}}</small>
                                        <br>
                                        {% endif %}
                                        <p><b>Overview 2</b> {{vuln.overview}}</p>
                                        <p><b>Details:</b> {{ vuln.advisory }}</p>
                                        {% if vuln.news %}
                                        <b>In the News:</b>
                                        <i class="fas fa-hand-point-right"></i>  {{vuln.news1}}
                                        {% endif %}
                                        {% if vuln.pdf %}
                                        <br>
                                        <b>Report</b>
                                        <embed src="/assets/css/pdf/readme.pdf" type="application/pdf" width="100%" height="600px" />
                                        {% endif %}
                                    </span>
                                </div>
                                <!-- end post section -->
                            {% endfor %}
                        </div>
                    </ul>
            </div>
            <!-- end research section -->

            <!-- start blog section -->
            <div style="display:none;" id="blog">
            <!-- <p class="animate__animated animate__fadeInUp">Discovered Vulnerabilities</p> -->
                <div style="text-align: left;" >
                    {% for post in site.posts %}
                        <div class="check-border" onclick="goToPost('{{vuln.id}}');">
                            <a class="highlight-nz" href="{{post.url}}" style="text-decoration: none;">{{post.title}}</a>
                            <span class="check" style="float: right;">{{post.date}}</span>
                        </div>
                        <br>
                        <!-- start post section -->
                        <div id="blog-post">
                            <span style="display: none;text-align: left;" id="{{post.id}}">
                                <p>{{ post.content  | markdownify }}</p>
                            </span>
                        </div>
                        <!-- end post section -->
                    {% endfor %}
                </div>
             </div>
        <!-- end blog section -->

            <!-- start about section -->
            <div style="display:none;" id="about" class="center">
                <div style="text-align: left;">
                    <p>{{site.about}}</p>
                </div>
                <br>
                <br>
                <div >
                    <a href="https://twitter.com/tbutler0x90"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/tyler-b-a700a1aa/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/tcbutler320"><i class="fab fa-github"></i></a>
                    <a href="mailto:developer.tbutler@gmail.com"><i class="fab fa-email"></i></a>
                </div>  
                <br>
                <br>
                <div>
                    <!-- <small>Interested in this Jekyll theme? I open sourced it, check it out <a href="https://github.com/tcbutler320/simple.dev.tbutler.org">here</a></small>  -->
                </div>
            </div>
            <!-- end about section -->

            <!-- start contact section -->
            <div style="display:none;" id="contact" class="center">
                <!-- <p class="animate__animated animate__fadeInUp">contact me</p> -->
                <form name="contact" method="POST" data-netlify="true" >
                    <p>
                    <label>name:  <input type="text" name="name" placeholder="foo"/></label>   
                    </p>
                    <p>
                    <label>email:  <input type="email" name="email" placeholder="foo@bar.com"/></label>
                    </p>
                    <p>
                    <label>message:  <textarea name="message" placeholder="foobar"></textarea></label>
                    </p>
                    <p>
                    <button type="submit">Send</button>
                    </p>
                </form>
            </div>
            <!-- end contact section -->

            </div>

    </div>    
</div>
    
{{ content }}

<script>
    function showElement(foo) {
        var x = document.getElementById(foo);
        var y = document.getElementById(foo+'-btn');

        var about = document.getElementById('about');
        var abouty = document.getElementById('about-btn');

        var resume = document.getElementById('resume');
        var resumey = document.getElementById('resume-btn');

        var research = document.getElementById('research');
        var researchy = document.getElementById('research-btn');

        var blog = document.getElementById('blog');
        var blogy = document.getElementById('blog-btn');

        var contact = document.getElementById('contact');
        var contacty = document.getElementById('contact-btn');

        var feature = document.getElementById('feature');
        var featurey = document.getElementById('feature-btn');



        about.style.display = "none";
        resume.style.display = "none";
        research.style.display = "none";
        blog.style.display = "none";
        contact.style.display = "none";


        if (x.style.display === "none") {
            x.style.display = "block";
            location.href = "/#" + foo;


            abouty.style.color = "inherit";
            resumey.style.color = "inherit";
            researchy.style.color = "inherit";
            // blogy.style.color = "inherit";
            contacty.style.color = "inherit";
            feature.style.display = "none";

            y.style.color = "#DA0037";
        } else {
            x.style.display = "none";
            abouty.style.color = "inherit";
            resumey.style.color = "inherit";
            researchy.style.color = "inherit";
            // blogy.style.color = "inherit";
            contacty.style.color = "inherit";

            y.style.color = "inherit";
        }
    }
</script>

<script>
    function goToPost(foo){
        var x = document.getElementById(foo);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>


<script>
    function darkMode() {
        document.body.classList.toggle('dark');
        // var foo = document.getElementById('bulb');
        // foo.classList.remove("far");
        // foo.classList.add("fas");
    }
</script>


<script>
    function myFunction() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');
    
      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>



<script>
    function login() {

    }
</script>